@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #9393b8;
  --primary: rgb(199, 70, 66);

  --background-1: #9393b8;
  --background-2: green;
  --background-3: purple;
  --background-4: pink;
}
